@import "tailwindcss";

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


.task-item{
  background-color: rgb(34, 34, 34);
}

select{
  background: #202020;
}